.projects .portfolio-filters li {
  font-size: 21px;
  font-weight: bold;
}


/* .header .logo img {max-height: 10px;} */

.hero .info h2:after {background: #ff0018;}
.hero .info .btn-get-started {border: 2px solid #ff0018;}
.hero .info .btn-get-started:hover {background: black;}
.navmenu > ul > li > a::before {background-color: red;}